@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

a {
  text-decoration: inherit;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 0 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: .7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: #233542;
}

.btn a {
  font-weight: 500;
}

.btn:hover {
  background-color: #ffaa00;
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

p {
  color: #42474b;
  font-size: 13px;
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: #233542;
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: #233542;
}

::selection {
  background-color: #ffaa00;
  color: #233542;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #EAF7F9;
}

::-webkit-scrollbar-thumb {
  background-color: #233542;
  border-radius: 10px;
}